<div class="p-fluid p-formgrid grid">
    <div class="field col-12">
        <h2 class="text-center py-1 my-1">Seleccione la nueva fechan para la consulta:</h2>
    </div>
    <div class="field col-8 col-offset-2">
        <p-calendar [inline]="true" [(ngModel)]="newAppointmentDate"></p-calendar>
    </div>
    <div class="field col-6 sm:col-12 md:col-12 lg:col-6 xl:col-6 my-0 py-1">
        <p-button styleClass="p-button-success" icon="pi pi-save" label="Guardar"
        (click)="changeData()"></p-button>
    </div>
    <div class="field col-6 sm:col-12 md:col-12 lg:col-6 xl:col-6 my-0 py-1">
        <p-button styleClass="p-button-danger" icon="pi pi-times" label="Cancelar"
        (click)="cancel()"></p-button>
    </div>
</div>